body {
    background-image: url(liburutegia.jpg);
}

h1 {
    background-color: gray;
    font-size: 400%;
    text-align: center;
}

.liburutegia {
    display:-moz-grid;
}

.liburua {
    float:left;
    margin-right: 5%;  
}

.irudia {
    width: 150px;
    height: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textua {
    background-color: gray;
}

.izena {
    font-size: larger;
    font-style: italic;
    text-align: center;
}

.egilea {
    color : blue;
    font-size: medium;   
    font-style: oblique;
    text-align: center;
}

.orriKop {
    font-size: smaller;
}

.prezioa {
    font-size: smaller;
    font-style: inherit;
}

.stock {
    font-size: smaller;
    font-style: inherit;
}

input[type=button] {
    font-size: 150%;
    position:relative;
}

.liburuaSartu {
    float: left;
    clear: left;
    margin-bottom: 0.5%;
}

.liburuaEzabatu {
    float: left;
    clear: left;
    margin-bottom: 0.5%;
}

.liburuaErreserbatu {
    float: left;
    clear: left;
    margin-bottom: 0.5%;
}

.erreserbakIkusi {
    float: left;
    clear: left;
    margin-bottom: 0.5%;
}